@keyframes cover-remove {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 110%, 0 110%);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}


@keyframes float {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}
