@keyframes cover-remove {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 110%, 0 110%);
    transform: translateY(0);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes scale-down {
  from {
    scale: 1;
    opacity: 1;
    border-radius: 0;
  }
  to {
    border-radius: 50%;
    scale: 0;
    opacity: 0;
  }
}
.scale-down {
  transform-origin: top;
  animation: scale-down ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 60% cover 100%;
}

@keyframes scale-into-frame {
  from {
    scale: 2;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.scale-into-frame {
  transform-origin: top;
  animation: scale-into-frame 5s ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 50%;
}

@keyframes scale-up {
  from {
    scale: 0;
    opacity: 0;
    border-radius: 50%;
  }
  to {
    scale: 1;
    opacity: 1;
    border-radius: 0;
  }
}
.scale-up {
  transform-origin: bottom;
  animation: scale-up 2s ease-in-out both;
  animation-timeline: view(block);
}
.enter {
  animation-range: cover 0% cover 20%;
}
.exit {
  animation-range: cover 20% cover 100%;
}

@keyframes scale-up-horizontal {
  from {
    scale: 1 0;
    opacity: 0;
  }
  to {
    scale: 1 1;
    opacity: 1;
  }
}
.scale-up-horizontal {
  transform-origin: bottom;
  animation: scale-down-horizontal ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 20% cover 100%;
}

@keyframes floater {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

.float {
  animation: floater 10s infinite;
  // animation-timeline: view(block);
  // animation-range: cover 70% cover 100%;
}

@keyframes from-above {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}



@keyframes escape-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-550px);
  }
}

.escape-up {
  transform-origin: bottom;
  animation: escape-up ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 60%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}

.typing {
  overflow: hidden;
  white-space: nowrap;

  animation: typing steps(40, end);
  animation-timeline: view(block);
  animation-range: cover 20% cover 50%;
  .blink {
    border-right: 0.15em solid black; /* The typwriter cursor */
    animation: blink-caret 0.75s step-end infinite;
  }
}
