@keyframes cover-remove {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transform: translateY(100%);
  }

  to {
    clip-path: polygon(0 0, 100% 0, 100% 110%, 0 110%);
    transform: translateY(0);
  }
}

@keyframes circle-up-enter {
  0% {
    display: flex;
    clip-path: circle(0 at 50% 50%);
  }
  100% {
    clip-path: circle(100% at 50% 50%);
  }
}
@keyframes circle-up-exit {
  0% {
    clip-path: circle(100% at 50% 50%);
  }
  99% {
    clip-path: circle(0 at 50% 50%);
  }
  100% {
    display: none;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
.fade-in {
  animation: 1s fade-in ease-in-out both;
  animation-range: cover 0% cover 50%;
}

@keyframes scale-down {
  from {
    scale: 1;
    opacity: 1;
    border-radius: 0;
  }
  to {
    border-radius: 50%;
    scale: 0;
    opacity: 0;
  }
}
.scale-down {
  transform-origin: top;
  animation: scale-down ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 60% cover 100%;
}

@keyframes scale-into-frame {
  from {
    scale: 2;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}
.scale-into-frame {
  transform-origin: top;
  animation: scale-into-frame 5s ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 50%;
}

@keyframes scale-up {
  from {
    scale: 0;
    opacity: 0;
    border-radius: 50%;
  }
  to {
    scale: 1;
    opacity: 1;
    border-radius: 0;
  }
}
.scale-up {
  transform-origin: bottom;
  animation: scale-up 2s ease-in-out both;
  animation-timeline: view(block);
}
@keyframes round-up {
  0% {
    scale: 0;
    border-radius: 50%;
  }
  80% {
    scale: 1.1;
  }
  100% {
    scale: 1;
    border-radius: 0;
  }
}
.round-up {
  animation: round-up 2s ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 30%;
}

.enter {
  animation-range: cover 0% cover 20%;
}
.exit {
  animation-range: cover 20% cover 100%;
}

@keyframes floater {
  0% {
    transform: translateY(50px);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50px);
  }
}

.float {
  animation: floater 10s infinite;
  // animation-timeline: view(block);
  // animation-range: cover 70% cover 100%;
}

@keyframes from-above {
  from {
    transform: translateY(-300px);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes from-below {
  from {
    opacity: 0;
    transform: translateY(900px);
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.from-below {
  animation: from-below ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 30%;
}

@keyframes escape-up {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-550px);
  }
}
.escape-up {
  transform-origin: bottom;
  animation: escape-up ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 60%;
}

.enter-middle {
  animation-range: cover 20% cover 30%;
}

@keyframes elastic-exit {
  from {
    gap: 0;
  }

  to {
    gap: 50px;
  }
}
.elastic-exit {
  display: flex;
  flex-direction: column;
  animation: elastic-exit ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 28% cover 60%;
}
@keyframes elastic-enter-mb {
  from {
    margin-bottom: 40px;
  }

  to {
    margin-bottom: 0;
  }
}
.elastic-enter-mb {
  animation: elastic-enter-mb ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 50%;
}

@keyframes elastic-enter-gap {
  from {
    gap: 30px;
  }

  to {
    gap: 0;
  }
}
.elastic-enter-gap {
  display: flex;
  flex-direction: column;

  animation: elastic-enter-gap ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 60%;
}

@keyframes textParallax {
  0% {
    gap: 100px;
    transform: translateY(100px);
  }
  100% {
    gap: 0;
    transform: translateY(0px);
  }
}
.textParallax {
  transform-origin: bottom;
  animation: textParallax ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 0% cover 60%;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}
.typing {
  overflow: hidden;
  white-space: nowrap;

  animation: typing steps(40, end) both;
  animation-timeline: view(block);
  animation-range: cover 20% cover 50%;
  .blink {
    border-right: 0.15em solid black; /* The typwriter cursor */
    animation: blink-caret 0.75s step-end infinite;
  }
}

@keyframes imgParallax {
  0% {
    object-position: top left;
  }
  100% {
    object-position: bottom right;
  }
}
.imgParallax {
  animation: imgParallax ease-in-out both;
  animation-timeline: view(block);
  animation-range: cover 40% cover 90%;
}
