$green: #9da884;
$darkGreen: #3b510a;

$darkGray: #424242;
$gray: #808080;
$lightGray: #80808080;

$orange: #a96306;
$offwhite: #f3f3f3;

$red: #d04545;
$yellow: #dddfb4;

$sectionGap: 250px;
$filterWidth: 260px;
$navHeight: 110px;
$navHeightMob: 63px;
